<form action="/store_messages" method="post">
  <label for="add_messages">Please add a message in the following text box: </label>
  <textarea name="message" id="add_messages" style="margin: 0px; height: 65px; width: 321px;"></textarea>
  <input type="submit" value="Submit">
</form>
